.searchSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
  min-height: 500px;
}

@media (max-width: 500px) {
  .searchSection {
    max-width: 360px;
    min-height: auto;
  }
}
